<div class="row">
    <div id="about-me" class="col-md-offset-3 col-md-6">
        <h4>About me</h4>
        <p>Aspiring software craftsman at Xebia France, I'm an Android addict who is in constant pursuit of best practices.</p>
        <div class="social-icon-list">
            <a title="Twitter" href="https://twitter.com/Tom404_"><img src="/images/glyphicons_391_twitter_t.png"/></a>
            <a title="GitHub" href="https://github.com/tguerin"><img src="/images/glyphicons_381_github.png"/></a>
            <a title="E-Mail" href="mailto:contact@thomas-guerin.com"><img src="/images/glyphicons_399_e-mail.png"/></a>
        </div>
    </div>
</div>
